

{% extends 'base.html' %}


{% block content %}
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6 banner-left">
                <h4 class="text-white">Password reset</h4>
                
                <p class="text-white">
                    Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.
                </p>

                <form method="post" >
                    <div class="input-group d-flex flex-row"  >
                        {% csrf_token %}
                        {{form}}
                        <button class="genric-btn primary"  type="submit">SEND EMAIL</button>
                        
                    </div>
                    
                    
                </form>

            </div>

        </div>
    </div>
</section>



{% endblock %}
