

{% extends 'base.html' %}


{% block content %}
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6 banner-left">
                <h4 class="text-white">Password reset complete</h4>
                
                <p class="text-white">
                    Your password has been set. You may go ahead and log in now.
                </p>

                <div class="header-top">
                  <a href="{% url 'accounts:login' %}">Login</a>     
               </div>
               
            </div>

        </div>
    </div>
</section>



{% endblock %}
