<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Site Maintenance</title>

    <style>
        body, html {
        height: 100%;
        }
      body {background-image: url("{% static 'img/bg03.jpg' %}") ;
        height: 100%; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center; padding: 150px; 
        color: #333; 
        font: 20px Helvetica, sans-serif;}
      h1 { font-size: 60px; }
      article { display: block; text-align: left; width: 650px; margin: 0 auto; }
    </style>
</head>
<body>
<article>
        <h1>We&rsquo;ll be back soon!</h1>
        <p>
            <p>Sorry for the inconvenience but we&rsquo;re performing some maintenance at the moment.</p>
        </div>
    </article>

</body>
</html>